<html>
<head>
<title>♀♀♀</title>
<style rel="stylesheet">/>
	body { background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/cd514331234507.564a1d2324e4e.gif"); }
</style>
</head>
<body>


	<div><p></p>
	<p><center>░░(҉˘.˘)~҉░░
	<br>(҉˘.˘)~҉░<img src="http://tonygifsjavas.com.br/galeria_gifs_animes/beijos/images/beijo_56.gif">░(҉˘.˘)~҉
	<br><big>
	ᶠᵘᶜᵏᵧₒᵤ
	<br></big>
	</center></p></div>

	<div><center> oioi</div>
	<center>
	{% for post in posts %}
	<div>
	<p>published: {{ post.published_date }}</p>
	<h1><a href="">{{ post.title }}</a></h1>
	<p>{{ post.text|linebreaksbr }}</p>
	</div>
	{% endfor %}

</center>
	</body>
	</html>